<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span>Rating</span> {{ rating.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{ rating.value }}</span>
                </dd>
                <dt><span>Film</span></dt>
                <dd>
                    <div *ngIf="rating.film">
                        <a [routerLink]="['/film', rating.film?.id, 'view']">{{ rating.film?.id }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ rating.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
